#user-auth-template {
	height: 400;
	width: 400;
	margin-left: auto;
	margin-right: auto;
}

#header-center {
	text-align: center;
}

#error-text {
	color: red;
}

#languages-flags {
	float: right;
}

#link {
	cursor: pointer; 
	cursor: hand;
}

#style, #menu {
	width: 8%;
}